---
import Layout from "../layouts/Layout.astro";

---


<Layout title="Nermy">
  <main class="flex justify-center h-screen place-items-center ">
    <div>
      <h1 class="text-center text-7xl font-bold"><span class="nermy">Your Idea + </span>
<span class="text-orange-500">Nermy</span>
      </h1>
	  <p class="text-gray-700 text-center pt-4 mb-14"> A ready-to-go starter templates</p>
      <div class="instructions bg-gray-100 max-w-3xl">
        <span class="text-gray-800">
 <span class="block text-lg font-bold">Get Started <code class="block mt-2">npx install nermy (coming soon)</code></span
          >
        </span>
      </div>
    </div>
  </main>
</Layout>

<style>

  .nermy {
background: linear-gradient(180deg, #6C6C6C 0%, #040711 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  }
  .instructions {
    border: 1px solid rgba(var(--accent-light), 25%);
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    color: rgb(92, 92, 92) ;
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }

</style>
